<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xuexiang.xrouterdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.SchemeFilterActivity">

            <!-- Scheme -->
            <intent-filter>
                <data
                    android:host="xuexiangjys.github.io"
                    android:scheme="xrouter"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>

            <!-- App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="xuexiangjys.github.io"
                    android:scheme="http"/>
                <data
                    android:host="xuexiangjys.github.io"
                    android:scheme="https"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.test.TestWebview"/>

        <activity android:name=".activity.test.Test1Activity"/>
        <activity android:name=".activity.test.Test2Activity"/>
        <activity android:name=".activity.test.Test3Activity"/>
        <activity android:name=".activity.test.Test4Activity"/>

    </application>

</manifest>